[cmm]
#remember this is based on your working directory specified in data.cfg

name = cmm
#url = http://www.systemicpeace.org/inscr/CSPCoupsList2013.xls
url = https://github.com/ulfelder/earlywarningproject-statrisk-replication/blob/master/data.in/CSPCoupsList2013.xls?raw=true
filename = CSPCoupsList2013.xls
input_file_for_R = /data_in/CSPCoupsList2013.xls
output_file_for_R = /data_out/cmm.csv
cmm_r_file = /R/data.cmm.R